<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.rasing.mijngewicht"
    android:versionCode="11"
    android:versionName="1.9" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />
    
	<permission
	    android:name="me.rasing.mijngewicht.providers.GewichtProvider.ReadWrite"
	    android:protectionLevel = "signature" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Mijngewicht" >
        <activity
            android:name="me.rasing.mijngewicht.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="me.rasing.mijngewicht.MetingenDetailActivity" >
        </activity>
        <activity
            android:name="me.rasing.mijngewicht.MeetingInvoerenActivity" >
        </activity>
		<provider
		    android:name="me.rasing.mijngewicht.providers.GewichtProvider" 
		    android:authorities="me.rasing.mijngewicht.providers.GewichtProvider"
		    android:permission="me.rasing.mijngewicht.providers.GewichtProvider.ReadWrite" />
    </application>
</manifest>
